{% extends "base.html" %}
{% block content %}
<div id="detail">
<span id="detail_title">
    {{ post.title }}
    <br>
    <span id="fourteen_point">
        [{{ post.date_published }}]<br>
    </span>
</span>
<div id="detail_body">
    {{ post.body|safe }}
    <br>
</div>
Tagged in: {% for category in post.category.all %}
                <a href="{% url 'cat_view' category %}">
                <span id="tag">
                    {{ category }}
                </span>
                </a> 
                <!-- &nbsp; -->
            {% endfor %}
            <br><br>
<span id="root_link">
    <a href="{% url 'front page' %}">~/</a>
</span>
<br>
</div>
{% endblock %}