.contaner {
    background-color: #FCFCFC;
    position: relative;
    padding:0 0 0 55px;
}

div#sidebar {
    top: 0;
    right: 0;
    position: fixed;
    background-color: #282828;
    color: white;
    height: 100%;
    width: 22%;
    margin: 0;
    padding: 0;
    font-family: Menlo, Monaco, 'Source Code Pro', monospace;
}

div#post_links {
    font-size: 11;
    margin-left: 35%;
    margin-top: 0;
}

div#content {
    font-family: Georgia, serif;
    height:35%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 37%;
    background-color: lightgrey;
}

#content a:visited {
    color: black;
}

#content a:hover {
    color: #5A4C4C;
}

#post_title {
    font-size: 16pt;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 5%;
    color: black;
}

#post_title a {
    font-weight: bold;
}

#post_title a:hover {
    color: white;
}

#post_title:visited {
    color: black;
}

#post_body {
    margin-left: 2%;
    margin-top: 4%;
    font-size: 14pt;
}

#read_more {
    margin-left: 2%;
    margin-bottom: 0%;
    position: absolute;
}

#bio_block {
    margin-left: 24%;
    margin-right: 42%;
    margin-top: 10%;
    width: 30%;
    vertical-align: text-bottom;
}

img.bottom {
    float: left;
/*    margin-left: 12%;*/
    margin-right: 3%;
    border: 3px double;
    color: grey;
    vertical-align: text-bottom;
}

div#header {
    margin-top: 3%;
    margin-left: 33%;
    font-style: italic;
    color: dimgrey;
}

div#detail_title {
    margin-top: 5%;
    margin-left: 5%;
    font-size: 22pt;
    color: black;
}

span#comment {
    font-style: italic;
    color: dimgrey;
}

div#detail_body {
    margin-top: 2%;
    margin-left: 5%;
    font-size: 14pt;
}

a:link {
    text-decoration: none;
    color: white;
}

hr {
    margin-left: 2%;
    margin-right: 27%;
    color: black;
    shape-rendering: none;

}

#sidebar a:visited {
    color: white;
}

#sidebar a:hover {
    color: red;
}

#sidebar h3 {
    margin-bottom: 0;
}

#lined_out {
    text-decoration: line-through;
}

#sidebar h4 {
    margin-top: 0;
    margin-left: 28%;
    margin-bottom: 0;
}

span#return_link {
    color: black;
    margin-left: 5%;
}

#return_link a:visited {
    color: dimgrey;
}

span#fourteen_point {
    font-size: 14pt;
    color: black;
}

#ten_point {
    font-size: 10pt;
}

/*img {
    float: left;
    margin-left: 5%;
    margin-right: 3%;
    border: 3px double;
    color: grey;
    vertical-align: baseline;
}
*/