
body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
/*    background-color:#FEFFF1;*/
    /*font-family: Menlo, Monaco, 'Source Code Pro', monospace;*/
}

.contaner {
    /*background-color: #FCFCFC;*/
  /*  background-color: #FEF9ED;*/
    position: relative;
    padding:0 0 0 55px;
    margin-right: 22%;
}

div#sidebar {
    top: 0;
    right: 0;
    position: fixed;
    background-color: #282828;
    color: white;
    height: 100%;
    width: 22%;
    margin: 0;
    padding: 0;
    font-family: Menlo, Monaco, 'Source Code Pro', monospace;
}

div#main_section {
margin-left: 0%;
margin-right: 22%;
font-style: bolder;

}

div#not_found {
    font-size: 28pt;
    text-align: center;
}

span#tag {
    font-weight: bold;
    color: #00688B;
}

span#four_oh_four {
    color: red;
    font-size: 36;
}  

div#error {
    font-size: 24;
    text-align: center;
}

div#post_links {
    font-size: 11;
    margin-left: 35%;
    margin-top: 0;
}

#content a:visited {
    color: black;
}

#content a:hover {
    color: red;
}

div#post {
    margin-left: 10%;
    text-align: left;
    width: 600px;
}

#post a:visited {
    color: black;
}

#post a:hover {
    color: red;
}

#post_title {
    font-size: 18pt;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 5%;
    color: black;
}

span#bold {
    font-weight: bold;
}

#post_title a:hover {
    color: red;
}

#post_title:visited {
    color: black;
}

#post_body {
    margin-left: 2%;
    margin-top: 4%;
    font-size: 14pt;
}

#read_more {
    margin-left: 2%;
    margin-bottom: 0%;
    position: absolute;
}

#bio_block {
    margin-left: 24%;
    margin-right: 42%;
    margin-top: 10%;
    width: 30%;
    vertical-align: text-bottom;
}

img.bottom {
    float: left;
/*    margin-left: 12%;*/
    margin-right: 3%;
    border: 3px double;
    color: grey;
    vertical-align: text-bottom;
}

div#header {
    margin-top: 3%;
    margin-left: 33%;
    font-style: italic;
    color: dimgrey;
}

div#grey_back {
    background-color: grey;
    margin:0 0 0 0;
}

div#detail {
    margin-left: 5%;
    margin-top: 5%;
}

span#detail_title {
    font-size: 22pt;
    color: black;
}

div#detail_body {
    margin-top: 1%;
    font-size: 14pt;
    margin-right: 27%;
    background-color: #F8F8F8;
    border-radius: 4px;
    /*border: 1px #E8E8E8 solid;*/
    padding: 10px;
}

span#comment {
    font-style: italic;
    color: dimgrey;
}

div.gist-file {
    margin-right: 35%;
}

a:link {
    text-decoration: none;
    color: black;
}

hr {
    margin-left: 2%;
    margin-right: 27%;
    color: black;
    shape-rendering: none;

}

#sidebar a:visited {
    color: white;
}

#sidebar a:hover {
    color: red;
}

#sidebar h3 {
    margin-bottom: 0;
}

#lined_out {
    text-decoration: line-through;
}

#sidebar h4 {
    margin-top: 0;
    margin-left: 28%;
    margin-bottom: 0;
}

span#return_link {
    color: black;
    margin-left: 5%;
}

#return_link a:visited {
    color: dimgrey;
}

span#fourteen_point {
    font-size: 14pt;
    color: black;
}

span#root_link {
    font-size: 14pt;
    color: black;
}

span#root_link a:visited {
    color: black;
}

span#root_link a:hover {
    color: red;
}

#ten_point {
    font-size: 10pt;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    white-space: nowrap;
    background-color: #f9f2f4;
    border-radius: 4px;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
